# Copy this file to .env and fill in your actual API keys
# Your private .env should never be committed to git.

# Spotify (https://developer.spotify.com/dashboard/applications)
SPOTIPY_CLIENT_ID=
SPOTIPY_CLIENT_SECRET=

# Ticketmaster (https://developer.ticketmaster.com/product/discovery-api/)
TICKETMASTER_API_KEY=

# Eventbrite (https://www.eventbrite.com/platform/api/)
EVENTBRITE_TOKEN=

# US Census (https://api.census.gov/data/key_signup.html)
CENSUS_API_KEY=
